.local-btn-1 {
    display: flex;
    gap: 0.5rem;
    font-weight: bold;
    padding: 0.4rem .7rem;
    border: 1px solid;
    border-radius: 0.3rem;
}

.local-btn-2 {
    /* border: 1px solid; */
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.7rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.local-btn-2>svg {
    font-size: inherit;
}

.local-btn-3 {
    display: flex;
    padding: 0 0.5rem;
    border: 1px solid;
    border-radius: 0.3rem;
}

.local-btn-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
}

.local-btn-4>svg {
    font-size: inherit;
}

.local-btn-5 {
    border: 1px solid;
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;
}

.local-btn-6 {
    padding: .1rem;
    /* border: 1px solid; */
    border-radius: 0.3rem;
    padding: 0.1rem 0.2rem
}

.local-menu-1 {
    margin-bottom: .5rem;
}

.local-menu-2 {
    margin-top: 0.5rem;
}

.local-menu-2>div:first-child {
    padding: 0 0.4rem;
}

.local-menu-2>div:last-child {
    padding: 0 1.3rem;
}

.local-track-list {
    padding: 0.4rem;
    border: 1px solid;
    border-radius: 0.3rem;
}

.local-track {
    padding: 0.4rem 1.3rem;
    border: 1px solid;
    border-radius: 0.3rem;
}

.local-track-player {
    padding: 0.4rem 1.3rem;
    border: 1px solid;
    border-radius: 0.3rem;
}

.local-search-box {
    padding-right: 2rem;
}

.local-search-box>label {
    padding: 0.25rem .5rem 0.25rem 1.3rem;
    border: 1px solid;
    border-radius: 0.3rem;
    font-size: 1.1rem;
}

.local-vote-control {

}

.local-media-control {
    margin-bottom: 1rem;
}

.local-volume-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    padding: 0.2rem 0.5rem 0.2rem 0.1rem
}

.local-volume-control>span {
    height: 1rem;
    width: .3rem;
    border-radius: 1rem;
    display: flex;
    background: black;
}

.local-menu-control {
    font-size: 1.7rem;
}

.local-menu-control>svg {
    font-size: inherit;
}